# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# drizzle
/drizzle/meta/_journal.json.bak

# os / editor
.DS_Store
*.pem
npm-debug.log*
.idea

.vercel
.env*
